extends ./layout/index

block slider
  .slider 
    h1 Rio de Janeiro 
    em aventura

block content 
  main.container.mt-5 
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5 
      .col-md-6
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis assumenda eos quo nam reiciendis maiores voluptas rem maxime necessitatibus sint voluptate tempore, pariatur aut? Eum sit aperiam laboriosam aliquam quo. 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio sunt perspiciatis cum quas magnam eaque rerum incidunt laudantium deleniti porro fuga earum maiores itaque repudiandae aut impedit molestiae, expedita eum?
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="inicio_nosotros", class="img-fluid")

    include ./layout/travel_block

  .descuento 
    .container 
      .row 
        .col-md-6 
          .contenido 
            h3 5% de descuento 
            p.titulo Viaje a Canadá
            p.fecha 12/12/2023 - 16/12/2023
            p.precio 3.000 USD
  
  .container 
    h2.mt-5.text-center Testimonios
    include ./layout/testimonials_block
