footer.container.py-5
  .row
    .col-md6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/about") Nosotros
        a.nav-link(href="/contact") Contacto
        a.nav-link(href="/travels") Viajes
        a.nav-link(href="/testimonials") Testimonios
    .col
      p.copyright.text-center.text-md-right © Travel Agency